html {
  font-family: arial;
}
body {
  margin: 0;
  padding: 0;
}
header {
  border-bottom: 1px #000 solid;
}
.myDiv {
  display: none;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.m {
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.m > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.m > li {
  padding: 10px;
}
.about_us_img_div {
  margin: 50px auto;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_us_img_div img {
  width: 100%;
  height: 400px;
}
.about_us_body {
  margin: 50px auto;
  max-width: 90%;
}
.about_us_body_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.about_us_body_students {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 100px;
}
.about_us_body_student {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.about_us_body_student_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.about_us_body_student_info p,
.about_us_body_student_info h2 {
  margin: 0;
}
.about_us_body_student_info p {
  font-size: 20px;
}
.about_us_body_student img {
  width: 20%;
  border-radius: 2rem;
}
.burgerMenu {
  display: none;
}
#navbarToggleExternalContent > .main > .m {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#navbarToggleExternalContent > .main > .m > li {
  margin-right: 20px;
}

.navigation {
  display: block;
  width: 100%;
}
.container {
  margin: 150px 0;
  max-width: 900px;
  width: 100%;
}
.logo {
  width: 120px;
  height: 120px;
  border-radius: 25%;
}

.script {
  background-image: url(./Images/script.png);
  background-repeat: no-repeat;
}
.gap-5 {
  gap: 50px;
}
.card-img-top {
  max-width: 400px;
  height: 200px;
}
.card-title {
  padding: 0.5rem 1.25rem;
  margin: none !important;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
}
.IT_Topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.blog-img-left {
  max-width: 300px;
  width: 100%;
  border-radius: 2em;
}
.blog-img-right {
  float:right;
  max-width: 300px;
  width: 100%;
  border-radius: 2em;
}
.blog-titre {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
.blog-text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
.clear {
  clear: both;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.text {
  flex: 1;
}
/* Separator styles */
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.separator span {
  background-color: #fff;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 7px solid #000;
}

/* --------------------Footer----------------------- */
.footerDiv {
  margin-top: 150px;
}
.footerLine {
  width: 100%;
  height: 30px;
  background-color: #000;
  position: relative;
}
.footerDiv2 {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerDiv3 {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footerDiv4 {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footerh3 {
  margin-bottom: 20px;
  text-wrap: nowrap;
}
.footerDiv5 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footera {
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  width: moz-fit-content;
}
/* .footerp {
  margin-left: 10px;
} */
.footerDiv2_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.footerDiv2_1 a {
  color: #000;
}
.footerDiv3_1 {
  width: 100%;
  height: 1px;
  background-color: #444;
  margin: 20px 0;
}
.footerDiv3_2 {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerDiv3_2 p {
  color: #444;
  font-weight: bold;
}
.footerDiv3_2 a {
  font-size: 20px;
  color: #d33;
}
#ipiLevel > a {
  text-wrap: nowrap;
}
.footerImg {
  width: 100px;
  background-color: #fff;
}
/* --------------------Footer----------------------- */
@media only screen and (max-width: 900px) {
  .about_us_img_div {
    max-width: 100%;
  }
  .about_us_img_div img {
    height: max-content;
  }
  .about_us_body_student {
    flex-direction: column;
  }
  .about_us_body_student img {
    width: 300px;
  }
}

@media only screen and (max-width: 650px) {
  .footerPanda {
    left: 10px !important;
  }
}
@media only screen and (max-width: 600px) {
  .burgerMenu {
    display: block !important;
  }
  .navigation {
    display: none !important;
  }
}
@media only screen and (max-width: 540px) {
  .footer_down {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 20px !important;
  }
  .footer_up {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .footer_up > div {
    padding: 20px;
  }
  .footerBackgroundImg {
    background-position: left !important;
  }
}

@media only screen and (max-width: 340px) {
  .about_us_body_student img {
    width: 100%;
  }
}
