body {
    margin: 0;
    padding: 0;
}

.m {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000; 
}

li  {
    float: center;
}

html{
    font-family: arial;
}
.m > li > a {
    color: #fff;
    text-decoration: none;
}